.login {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0188ca+0,ffffff+100 */
	background: #0188ca; /* Old browsers */
	height: inherit;
	color: #141618;
	margin: 0;
}
.login-container {
	box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.15);
	background: #ffffff;
	padding: 30px 30px;
}

.login-container__button {
	background: red;
	color: #ffffff;
	font-weight: 600;
	width: 100%;
	text-transform: uppercase;
}
.login-container__logo {
	padding: 15px;
}
.login-error {
	color: #f44336;
	margin: 0;
	margin-top: 8px;
	min-height: 1em;
	text-align: left;
	font-weight: 500;
	line-height: 1em;
	letter-spacing: 0.03333em;
	text-align: center;
}
@media (min-width: 576px) {
	.login {
		margin: 0 auto;
	}
}
